{% extends 'books/base.html' %}

{% block content %}
<h2>Список книг</h2>
{% for book in books %}
    <div>
        <h3>{{ book.title }} — {{ book.author }}</h3>
        {% if book.image %}
            <img src="{{ book.image.url }}" width="100">
        {% endif %}
        <p>{{ book.description }}</p>
        <small>Додав: {{ book.owner }}</small><br>

        {% if book.is_exchanged %}
            <strong style="color: green;">✅ Обмін завершено</strong>
        {% elif user.is_authenticated and book.owner != user %}
            <a href="{% url 'propose_exchange' book.id %}">Запропонувати обмін</a>
        {% endif %}
    </div>
    <hr>
{% empty %}
    <p>Немає жодної книги :(</p>
{% endfor %}
{% endblock %}